<button class="add-hall-button" mat-fab extended [routerLink]="['create']">
  <mat-icon>add</mat-icon>
  Ajouter une salle
</button>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell class="mat-cell-hall"
        *matCellDef="let hall"
        [routerLink]="[encodeURIComponent(hall._links.self.href)]">
      {{ hall.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef>Rue</th>
    <td mat-cell class="mat-cell-hall" *matCellDef="let hall">
      {{ hall.address.street }}
    </td>
  </ng-container>
  <ng-container matColumnDef="postalCode">
    <th mat-header-cell *matHeaderCellDef>CP</th>
    <td mat-cell class="mat-cell-hall" *matCellDef="let hall">
      {{ hall.address.postalCode }}
    </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>Ville</th>
    <td mat-cell class="mat-cell-hall" *matCellDef="let hall">
      {{ hall.address.city }}
    </td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Pays</th>
    <td mat-cell class="mat-cell-hall" *matCellDef="let hall">
      {{ hall.address.country }}
    </td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>
      @if (layoutService.isDesktop()) {
        Mise à jour
      }
    </th>
    <td mat-cell *matCellDef="let hall">
      <button mat-mini-fab [routerLink]="[encodeURIComponent(hall._links.self.href), 'update']">
        <mat-icon>edit_note</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
      @if (layoutService.isDesktop()) {
        Suppression
      }
    </th>
    <td mat-cell *matCellDef="let hall">
      <button mat-mini-fab (click)="deleteHall(hall)">
        @if (isDeleting()) {
          <mat-progress-spinner
            diameter="20"
            mode="indeterminate"
            style="vertical-align: middle"
            [strokeWidth]="3">
          </mat-progress-spinner>
        } @else {
          <mat-icon>delete</mat-icon>
        }
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef>
      @if (layoutService.isDesktop()) {
        Voir
      }
    </th>
    <td mat-cell *matCellDef="let hall">
      <button mat-mini-fab [routerLink]="[encodeURIComponent(hall._links.self.href)]">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let hall; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    @if (hallsStore.getHallsResourceStatus() === 1) {
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
        Une erreur est survenue.
      </td>
    } @else if (!hallsStore.hallsResourceIsLoading()) {
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
        Aucune salle.
      </td>
    } @else {
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
        Chargement en cours ...
      </td>
    }
  </tr>
</table>
@if (hallsStore.hallsResourceIsLoading()) {
  <mat-progress-bar mode="query"></mat-progress-bar>
}
