services:
  nginx:
    extends:
      file: nginx/docker-compose-staging.yml
      service: nginx
    env_file:
      - ./.env
    depends_on:
      gateway-service:
        condition: service_healthy
      ashs-frontend:
        condition: service_started
      ashs-frontend-admin:
        condition: service_started


  nginx-exporter:
    extends:
      file: nginx/docker-compose-staging.yml
      service: nginx-exporter
    depends_on:
      nginx:
        condition: service_started