<button class="add-team-button" mat-fab extended [routerLink]="'create'">
  <mat-icon>add</mat-icon>
  Ajouter une équipe
</button>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef>Équipe</th>
    <td mat-cell class="mat-cell-team"
        *matCellDef="let team"
        [routerLink]="encodeURIComponent(team._links.self.href)"> {{ team.category | category }} {{ team.gender | gender }} {{ team.teamNumber }}
    </td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>
      @if (layoutService.isDesktop()) {
        Mise à jour
      }
    </th>
    <td mat-cell *matCellDef="let team">
      <button mat-mini-fab [routerLink]="[encodeURIComponent(team._links.self.href),'update']">
        <mat-icon>edit_note</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
      @if (layoutService.isDesktop()) {
        Suppression
      }
    </th>
    <td mat-cell *matCellDef="let team">
      <button mat-mini-fab (click)="deleteTeam(team)">
        @if (isDeleting()) {
          <mat-progress-spinner
            diameter="20"
            mode="indeterminate"
            style="vertical-align: middle"
            [strokeWidth]="3">
          </mat-progress-spinner>
        } @else {
          <mat-icon>delete</mat-icon>
        }
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef>
      @if (layoutService.isDesktop()) {
        Voir
      }
    </th>
    <td mat-cell *matCellDef="let team">
      <button mat-mini-fab [routerLink]="encodeURIComponent(team._links.self.href)">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let team; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    @if (teamsStore.getTeamsResourceStatus() === 1) {
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
        Une erreur est survenue.
      </td>
    } @else if (!teamsStore.teamsResourceIsLoading()) {
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
        Aucune équipe.
      </td>
    } @else {
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
        Chargement en cours ...
      </td>
    }

  </tr>
</table>
@if (teamsStore.teamsResourceIsLoading()) {
  <mat-progress-bar mode="query"></mat-progress-bar>
}
@let pagination = teamsStore.pagination();
@if (pagination) {
  <mat-paginator
    [disabled]="teamsStore.teamsResourceIsLoading()"
    (page)="handlePageEvent($event)"
    [length]="pagination.page.totalElements"
    [pageSize]="pagination.page.size"
    [pageSizeOptions]="[1,5,10,20]"
    [pageIndex]="pagination.page.number"
    aria-label="Select page">
  </mat-paginator>
}

