<mat-toolbar>
  @if (isHandset()) {
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="opening.emit()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  }

  <a class="logo" routerLink="/"></a>
  <span>Administration ASHS</span>

  <span class="spacer"></span>

  @if (keycloakService.isAuthenticated()) {
    <span class="username">{{ keycloakService.getUsername() }}</span>
    <button mat-button (click)="logout()">Déconnexion</button>
  } @else {
    <button mat-button (click)="login()">Connexion</button>
  }
</mat-toolbar>
