@let hall = hallStore.getHall();
@if (!hallStore.hallResourceIsLoading() && hall) {

  <mat-card class="hall-card">
    <mat-card-header>
      <mat-card-title>
        <div class="title-container">
          <mat-icon>location_on</mat-icon>
          <span>{{ hall.name }}</span>
        </div>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <div class="subtitle-3">
        <h3>
          <mat-icon>home</mat-icon>
          Adresse
        </h3>
      </div>

      <div class="address-item">
        <div>
          <mat-icon>place</mat-icon>
          {{ hall.address.street }}
        </div>
        <div>
          {{ hall.address.postalCode }} {{ hall.address.city }}
        </div>
        <div>
          {{ hall.address.country }}
        </div>
      </div>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button [routerLink]="['../']">
        <mat-icon>arrow_back</mat-icon>
        RETOUR
      </button>
      <div>
        <button [routerLink]="['update']" mat-button>
          <mat-icon>edit</mat-icon>
          ÉDITER
        </button>
        <button mat-button (click)="deleteHall(hall)">
          @if (isDeleting()) {
            <mat-progress-spinner
              diameter="20"
              mode="indeterminate"
              style="vertical-align: middle"
              [strokeWidth]="3">
            </mat-progress-spinner>
          } @else {
            <ng-container>
              <mat-icon>delete</mat-icon>
              SUPPRIMER
            </ng-container>
          }
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
} @else if (hallStore.hallResourceIsLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  <p>La salle n'a pas été trouvée</p>
}
